header {
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    color: #9d9d9d;
    margin-bottom: 20px;
    a {
        color: #444;
        padding-left: 12px;
        -webkit-transition: 0.2s ease;
        transition: 0.2s ease;
    }
    .wrapper {
        width: 1140px;
        margin: 0 auto; 
        padding: 15px 0 0;
        .brand {
            font-size: 30px;
            font-weight: bold;
            &:hover {
                color: #4078c0;
            }
        }
        .menu {
            display: none;
        }
        nav {
            ul {
                font-size: 0;
                margin: 20px 0 10px;
                padding: 0;
                li {
                    list-style: none;
                    font-size: 15px;
                    display: inline-block;
                    -webkit-transition: 0.2s ease;
                    transition: 0.2s ease;
                    a {
                        padding: 4px 12px 13px;
                        border-bottom: 3px solid transparent;
                        &:hover {
                            border-bottom-color: #e5e5e5;
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                    >.active {
                        border-bottom-color: #d26911;
                        &:hover {
                            border-bottom-color: #d26911;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    header {
        height: 50px;
        .wrapper {
            width: 90%;
            line-height: 50px;
            padding: 0 5px 20px;
            .brand {
                font-size: 16px;
            }
            small {
                margin-left: 15px;
                font-size: 12px;
            }
            .menu {
                display: none;
            }
            nav {
                ul {
                    li {
                        a {
                            padding: 0 8px;
                            height: 50px;
                            i {
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
    header {
        height: 48px;
        margin-bottom: 15px;
        .wrapper {
            width: 95%;
            margin: 0 auto;
            line-height: 48px;
            position: relative;
            z-index: 101;
            padding: 0 5px 20px;
            .brand {
                font-size: 16px;
            }
            small {
                margin-left: 10px;
                font-size: 12px;
            }
            .menu {
                display: inline-block;
                position: absolute;
                z-index: -102;
                right: 0;
                top: 10px;
                padding: 2px 8px;
                background: #333;
                border: 1px solid #333;
                border-radius: 4px;
                color: #c9c9c9;
                font-size: 17px;
                -webkit-transition: 0.4s ease;
                transition: 0.4s ease;
            }
            >.active {
                background: #000;
                color: #fff;
            }
            .nav-show {
                visibility: visible;
                transform: scale(1);
                opacity: 1;
            }
            nav {
                position: absolute;
                z-index: 100;
                right: 0;
                top: 47px;
                text-align: center;
                visibility: hidden;
                transform-origin: 100% 0;
                transform: scale(0.1);
                opacity: 0;
                transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
                ul {
                    background: #222;
                    margin: 0;
                    li {
                        font-size: 14px;
                        display: block;
                        border-bottom: 1px solid #333;
                        a {
                            display: block;
                            padding: 0 10px;
                            height: 40px;
                            line-height: 40px;
                        }
                        &:last-of-type {
                            border: none;
                        }
                        >.active {
                            color: #fff;
                            background-color: #000;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}