.page[index] {
    a {
        color: #4d6dad;
        transition: 0.5s ease;
        &:hover {
            color: #3af;
        }
    }
    .left {
        >ul {
            padding: 0;
            >li {
                list-style: none;
            }
            li {
                color: #333;
                margin: 30px 0 5px;
                border-bottom: solid 1px #ddd;
                h2 {
                    border: none;
                    font-size: 20px;
                    font-weight: 600;
                    margin: 10px 0 6px;
                }
                .label {
                    margin-bottom: 15px;
                    overflow: hidden;
                    margin: 2px 0 6px;
                    .label-card {
                        float: left;
                        margin-right: 10px;
                        font-size: 14px;
                        i {
                            padding-right: 0;
                            margin-right: 3px;
                            color: #6b6a6a;
                        }
                    }
                    .categories {
                        padding: 0;
                    }
                }
                .excerpt {
                    h2 {
                        font-size: 24px;
                    }
                    h3 {
                        font-size: 22px;
                    }
                    h4 {
                        font-size: 20px;
                    }
                }
                .read-all {
                    text-align: right;
                    font-size: 14px;
                    a {
                        color: #778ab0;
                        transition: 0.2s ease;
                        &:hover {
                            color: #5872a7;
                        }
                        i {
                            padding-right: 3px;
                        }
                    }
                }
            }
        }
        .pagination {
            text-align: center;
            .previous,
            .next {
                font-size: 20px;
                padding: 0 5px;
            }
            .page_number {
                padding: 0 5px;
                .label-card{
                    display: inline-block;
                    color: #4d6dad;
                    padding: 0 5px;
                }
            }
            .disable {
                color: #cbcbcb;
            }
        }
    }
    .right {
        .wrap {
            .side {
                margin-bottom: 20px;
                padding-bottom: 0;
                border: 2px solid #4078c0;
                i {
                    margin-right: 3px;
                }
                .content-ul[cate] {
                    overflow: hidden;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        font-size: 14px;
                        a {
                            display: block;
                            width: 100%;
                            padding: 2px 0;
                            border-bottom: 1px solid #eee;
                            color: #333;
                            &:hover {
                                background-color: #dbdfee;
                                .badge {
                                    background-color: #dbdfee;
                                    transform: scale(1.2) rotate(360deg);
                                }
                            }
                            .name {
                                padding-left: 15px;
                            }
                            .badge {
                                float: right;
                                display: inline-block;
                                padding: 2px 5px;
                                font-size: 12px;
                                font-weight: 600;
                                line-height: 1;
                                color: #666;
                                background-color: #eee;
                                border-radius: 20px;
                                margin: 5px;
                            }
                        }
                        &:last-of-type a {
                            border: none;
                        }
                    }
                }
                .content-ul[recent] {
                    padding-bottom: 16px;
                    li {
                        color: #aaa;
                        font-size: 14px;
                        padding: 2.5px 0;
                        a {
                            color: #000;
                        }
                    }
                }
                .tags-cloud {
                    font-weight: normal;
                    a {
                        padding: 0 3px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
    .page[index] {
        .left>ul li {
            h2 {
                font-size: 22px;
            }
            .excerpt {
                h2 {
                    font-size: 20px;
                }
                h3 {
                    font-size: 18px;
                }
                h4 {
                    font-size: 16px;
                }
                li {
                    margin: 0;
                }
            }
        }
    }
}