/**
 * Syntax highlighting styles
 */
code{
    padding: 1px 4px;
    margin: 0 2px;
    font-size: 90%;
    border-radius: 3px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid #d7d0d2;
    font-family: Monaco,Menlo,"Microsoft YaHei Mono",Consolas,"Courier New",monospace,sans-serif;
}

pre {
    margin: 12px 0;
     padding: 8px 12px;
    //  overflow-x: auto;
     word-wrap: break-word;      /* IE 5.5-7 */
     white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
     white-space: pre-wrap;      /* current browsers */
     > code {
         margin: 0;
         padding: 0;
        font-size: 13px;
        color:#d1d1c9;
        border: none;
        background-color: #272822
     }
}

.highlight {
    border-radius: 3px;

    background: #272822;
    .hll { background-color: #272822; }
    .err { color: #960050; background-color: #1e0010 } /* Error */
   
    .c { color: #75715e } /* Comment */
    .cm { color: #75715e } /* Comment.Multiline */
    .cp { color: #75715e } /* Comment.Preproc */
    .c1 { color: #75715e } /* Comment.Single */
    .cs { color: #75715e } /* Comment.Special */
    .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
   
   
    .k { color: #66d9ef } /* Keyword */
    .kc { color: #66d9ef } /* Keyword.Constant */
    .kd { color: #66d9ef } /* Keyword.Declaration */
    .kp { color: #66d9ef } /* Keyword.Pseudo */
    .kr { color: #66d9ef } /* Keyword.Reserved */
    .kt { color: #66d9ef } /* Keyword.Type */
    .no { color: #66d9ef } /* Name.Constant */
   
    .l { color: #ae81ff } /* Literal */
    .m { color: #ae81ff } /* Literal.Number */
    .mf { color: #ae81ff } /* Literal.Number.Float */
    .mh { color: #ae81ff } /* Literal.Number.Hex */
    .mi { color: #ae81ff } /* Literal.Number.Integer */
    .mo { color: #ae81ff } /* Literal.Number.Oct */
    .se { color: #ae81ff } /* Literal.String.Escape */
    .il { color: #ae81ff } /* Literal.Number.Integer.Long */
   
    .n { color: #f8f8f2 } /* Name */
    .p { color: #f8f8f2 } /* Punctuation */
    .nb { color: #f8f8f2 } /* Name.Builtin */
    .ni { color: #f8f8f2 } /* Name.Entity */
    .nl { color: #f8f8f2 } /* Name.Label */
    .nn { color: #f8f8f2 } /* Name.Namespace */
    .py { color: #f8f8f2 } /* Name.Property */
    .nv { color: #f8f8f2 } /* Name.Variable */
    .w { color: #f8f8f2 } /* Text.Whitespace */
    .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
    .vc { color: #f8f8f2 } /* Name.Variable.Class */
    .vg { color: #f8f8f2 } /* Name.Variable.Global */
    .vi { color: #f8f8f2 } /* Name.Variable.Instance */
   
    .o { color: #f92672 } /* Operator */
    .kn { color: #f92672 } /* Keyword.Namespace */
    .nt { color: #f92672 } /* Name.Tag */
    .ow { color: #f92672 } /* Operator.Word */
    .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
   
    .ld { color: #e6db74 } /* Literal.Date */
    .s { color: #e6db74 } /* Literal.String */
    .sb { color: #e6db74 } /* Literal.String.Backtick */
    .sc { color: #e6db74 } /* Literal.String.Char */
    .sd { color: #e6db74 } /* Literal.String.Doc */
    .s2 { color: #e6db74 } /* Literal.String.Double */
    .sh { color: #e6db74 } /* Literal.String.Heredoc */
    .si { color: #e6db74 } /* Literal.String.Interpol */
    .sx { color: #e6db74 } /* Literal.String.Other */
    .sr { color: #e6db74 } /* Literal.String.Regex */
    .s1 { color: #e6db74 } /* Literal.String.Single */
    .ss { color: #e6db74 } /* Literal.String.Symbol */
   
    .na { color: #a6e22e } /* Name.Attribute */
    .nc { color: #a6e22e } /* Name.Class */
    .nd { color: #a6e22e } /* Name.Decorator */
    .ne { color: #a6e22e } /* Name.Exception */
    .nf { color: #a6e22e } /* Name.Function */
    .nx { color: #a6e22e } /* Name.Other */
    .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
   
    .ge { font-style: italic } /* Generic.Emph */
    .gs { font-weight: bold } /* Generic.Strong */
    .gh { } /* Generic Heading & Diff Header */
}
